*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
#schoolYearBox,
#searchbtn{
    width: 100%;
    margin: auto;
    height: 130px;
    line-height: 55px;
}
#determine{
    margin-top: 1%;
}
.tableline{
    width: 1976px;
}
.tabs{
    width: 150px;
}
input{
    width: 16px;
    height: 16px;
    background-color: #fff;            
    border: 1px solid #c9c9c9; 
    border-radius: 2px;
    color: #fff; 
    text-align: center; 
    line-height: 15px;
    -webkit-appearance:none; appearance:none; outline: none;
}
#inp:checked{
    background-color: blue;
}
.inp:checked{
    background-color: blue;
}
.inp1:checked{
    background-color: gray;
}

#inp:after {
    content: "\2713";
}
.inp:after,
.inp1::after{
    content: "\2713";
}  
.inpt{
    cursor: pointer;
}

.defines{
    display: inline-block;
    width: 5%;
    height: 30px;
    margin-right: 2%;
    margin-top: 2%;
}