*{
	box-sizing: border-box;
}

body,p,h1,h2,h3,h4,h5,h6,ul{
	margin: 0;
}


ul{
	margin: 0;
	padding: 0;
	list-style: none;
}


img{
	border:none;
	vertical-align: middle;/*取消底部空白*/
}

a{
	text-decoration: none;
	color:#3c3c3c;
}


i{
	font-style:normal;
}

input,button{
	margin:0;
	padding: 0;
}


button{
	outline:none;
}

body{
	color: #3c3c3c;
	background-color: #f4f4f4;
}

.clearfix:after{
	content:'';
	display:block;
	clear:both;

}

.fl{
	float:left;
}

.fr{
	float:right;
}


/*居中*/
.layer{
	width:1190px;
	margin:0 auto;
}





table{
	border-collapse: collapse;

}

th,td{
	padding: 0px;
}






